<!-- How it work > hiw -->

<section class="hiw">
  <div class="hiw-container container">
    <h2 class="hiw-tittle visually-hidden">How it work</h2>
    <div class="hiw-image-wrapper container">
      <picture
        ><source
          srcset="
            ../img/how-it-works/fruit-cutting-desk.png    1x,
            ../img/how-it-works/fruit-cutting-desk@2x.png 2x
          "
          media="(min-width:1280px)" />
        <source
          srcset="
            ../img/how-it-works/fruit-cutting-tab.png    1x,
            ../img/how-it-works/fruit-cutting-tab@2x.png 2x
          "
          media="(min-width:768px)" />
        <source
          srcset="
            ../img/how-it-works/fruit-cutting-mob.png    1x,
            ../img/how-it-works/fruit-cutting-mob@2x.png 2x
          "
          media="(max-width:375px)" />
        <img
          class="hiw-image"
          src="../img/how-it-works/fruit-cutting-mob.png"
          alt="Fruit Cutting"
          width="335"
      /></picture>
    </div>
    <div class="hiw-list-wrapper container">
      <p class="hiw-main-text accent-color">
        To order your <span class="shadow-color">vegetable</span> basket, simply
        follow these
        <span class="shadow-color">easy steps</span>
      </p>
      <p class="hiw-submain-text accent-color">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <ol class="hiw-list">
        <li class="hiw-item">
          <div class="item-wrapper">
            Just choose <span class="bold-text">the vegetable</span> you want to
            order by clicking on the checkboxes
            <span class="bold-text">next to it</span>.
          </div>
        </li>

        <li class="hiw-item">
          <div>
            Click on <span class="bold-text">the basket</span> and fill out the
            form.
          </div>
        </li>

        <li class="hiw-item">
          <div>
            Sit back and relax! Your
            <span class="bold-text">fresh vegetables</span> basket will be
            delivered.
          </div>
        </li>
      </ol>
    </div>
  </div>
</section>
