<div class="mobile-menu">
  <button class="menu-close-btn" type="button">
    <svg class="close-icon" width="32" height="32">
      <use href="/src/img/icons.svg#icon-icon-close"></use>
    </svg>
  </button>

  <nav class="navigation">
    <ul class="nav-list">
      <li><a class="nav-link" href="#">How It Works</a></li>
      <li><a class="nav-link" href="#">Vegetables</a></li>
      <li><a class="nav-link" href="#">Reviews</a></li>
    </ul>
  </nav>

  <button class="shop-now-btn" type="button">Shop now</button>
</div>
