<div class="mob-menu-overlay is-open">
  <div class="mob-menu">
    <button class="mob-menu-close-btn" type="button">
      <svg class="mob-menu-close-icon">
        <use href="/img/icons.svg#icon-icon-close"></use>
      </svg>
    </button>

    <nav class="mob-menu-nav">
      <ul class="mob-menu-nav-list">
        <li class="mob-menu-nav-item">
          <a class="mob-menu-nav-link" href="#">How It Works</a>
        </li>
        <li class="mob-menu-nav-item">
          <a class="mob-menu-nav-link" href="#vegetables">Vegetables</a>
        </li>
        <li class="mob-menu-nav-item">
          <a class="mob-menu-nav-link" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>

    <button class="mob-menu-shop-btn" type="button">Shop now</button>
  </div>
</div>
