<!--Section Vegetables-->
<section class="vegetables">
  <h2 class="vegetables-title" id="vegetables">organic vegetables</h2>
  <p class="vegetables-text">
    Our organic vegetables are hand-picked from local farms and delivered
    straight to your doorstep, ensuring that you get the freshest and most
    nutritious produce possible.
  </p>
  <ul class="vegetables-list">
    <li class="vegetables-item">
      <h3 class="item-title-vegetables">eggplant</h3>
      <p class="item-text-vegetables">60 USD / kg</p>
      <img
        srcset="
          /img/vegetables/eggplant.png    1x,
          /img/vegetables/eggplant@2x.png 2x
        "
        src="/img/vegetables/eggplant.png"
        alt="eggplant"
        width="282"
        height="243"
      />
    </li>
    <li class="vegetables-item">
      <h3 class="item-title-vegetables">leek</h3>
      <p class="item-text-vegetables">50 USD / kg</p>
      <img
        srcset="/img/vegetables/leek.png 1x, /img/vegetables/leek@2x.png 2x"
        src="/img/vegetables/leek.png"
        alt="leek"
        width="282"
        height="243"
      />
    </li>
    <li class="vegetables-item">
      <h3 class="item-title-vegetables">mushrooms</h3>
      <p class="item-text-vegetables">40 USD / kg</p>
      <img
        srcset="
          /img/vegetables/mushrooms.png    1x,
          /img/vegetables/mushrooms@2x.png 2x
        "
        src="/img/vegetables/mushrooms.png"
        alt="mushrooms"
        width="282"
        height="243"
      />
    </li>
    <li class="vegetables-item">
      <h3 class="item-title-vegetables">corn</h3>
      <p class="item-text-vegetables">60 USD / kg</p>
      <img
        srcset="/img/vegetables/corn.png 1x, /img/vegetables/corn@2x.png 2x"
        src="/img/vegetables/corn.png"
        alt="corn"
        width="282"
        height="243"
      />
    </li>
    <li class="vegetables-item">
      <h3 class="item-title-vegetables">sweet potatoes</h3>
      <p class="item-text-vegetables">50 USD / kg</p>
      <img
        srcset="
          /img/vegetables/sweet-potatoes.png    1x,
          /img/vegetables/sweet-potatoes@2x.png 2x
        "
        src="/img/vegetables/sweet-potatoes.png"
        alt="sweet potatoes"
        width="282"
        height="243"
      />
    </li>
    <li class="vegetables-item">
      <h3 class="item-title-vegetables">carrot</h3>
      <p class="item-text-vegetables">40 USD / kg</p>
      <img
        srcset="/img/vegetables/carrot.png 1x, /img/vegetables/carrot@2x.png 2x"
        src="/img/vegetables/carrot.png"
        alt="carrot"
        width="282"
        height="243"
      />
    </li>
  </ul>
</section>
