<section class="order">
  <div class="container order-container">
    <div class="order-title-wrapper">
      <h2 class="order-title accent-color">Fresh <span class="shadow-color">Harvest</span> Box has got you covered</h2>
      <p class="order-description accent-color">Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone
        looking
        to eat healthier or support local farmers. Order your box today and start enjoying the best that nature has to
        offer!</p>
    </div>
    <div class="order-form-info-wrapper">

      <form class="order-form">
        <p class="order-form-info">Ordering
          <span class="order-form-info-accentUs">from us</span>
          is quick and easy! Fill out
          <span class="assistant-color">the form</span>
          below and we will contact you !
        </p>
        <input class="order-form-field order-form-input" type="text" name="fullName" placeholder="Full Name"
          pattern="[A-Za-z0-9]+" required>
        <input class="order-form-field order-form-input" type="email" name="email" placeholder="Email"
          pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" required>
        <textarea class="order-form-field order-form-comment" name="comment" placeholder="Comment"></textarea>
        <button class="order-form-button accent-color" type="submit">Send</button>
      </form>

      <div class="order-info">
        <picture>
          <source srcset="/img/your-order/juicing-desk.png 1x, /img/your-order/juicing-desk@2x.png 2x"
            media="(min-width: 1158px)">
          <source srcset="/img/your-order/juicing-tab.png 1x, /img/your-order/juicing-tab@2x.png 2x"
            media="(min-width: 768px)">
          <source srcset="/img/your-order/juicing-mob.png 1x, /img/your-order/juicing-mob@2x.png 2x"
            media="(max-width: 767px)">

          <img class="order-info-img" src="/img/your-order/juicing-mob.png" alt="vitamines" width="295">
        </picture>

        <p class="order-info-invite shadow-color">Follow us on our social networks:</p>
        <ul class="order-list">
          <li class="order-item accent-color">
            <a class="order-social-link" href="https://www.instagram.com/goitclub/ " target="_blank">instagram</a>
            /
          </li>
          <li class="order-item accent-color">
            <a class="order-social-link" href="https://www.facebook.com/goITclub/ " target="_blank">facebook</a>
            /
          </li>
          <li class="order-item accent-color">
            <a class="order-social-link" href="https://www.youtube.com/c/GoIT" target="_blank">youtube</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>