.padding {
  padding: 0 10px;
}
.advertising-container {
  padding: 80px 0;
}
.advertising-text {
  padding: 0 10px;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}
.advertising-green-container {
  background-color: #576f35;
  border-radius: 12px;
  padding: 3px 10px;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: #fbfbfb;
  background-color: #576f35;
  border-radius: 12px;
  display: inline-block;
}
.advertising-description {
  padding-left: 10px;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .padding {
    padding: 0 16px;
  }
  .advertising-container {
    padding: 80px 0;
  }
  .advertising-text {
    font-size: 64px;
    line-height: 1.09em;
    padding: 0 16px;
  }
  .advertising-green-container {
    font-size: 64px;
    line-height: 1.09em;
    padding: 8px 16px;
  }
  .advertising-description {
    padding-left: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .padding {
    padding: 0 100px;
  }
  .advertising-container {
    padding: 100px 0;
  }

  .advertising-text {
    font-size: 76px;
    line-height: 1.05em;
    padding: 0 13px;
    display: inline;
  }
  .advertising-green-container {
    font-size: 76px;
    line-height: 1.05em;
    padding: 13px 16px;
  }
  .advertising-description {
    padding-left: 0;
    display: inline;
  }
}
