/*======= MOBILE VERSION =======*/

.mob-menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mob-menu-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mob-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #7a3145;
    transform: translateX(0);
    transition: transform 250ms ease-in;
}

.mob-menu-overlay:not(.is-open) .mob-menu {
    transform: translateX(100%);
}

.mob-menu-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.mob-menu-close-icon {
    width: 32px;
    height: 32px;
    stroke:#fbfbfb;
}

.mob-menu-nav {
    padding-top: 240px;
}

.mob-menu-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.mob-menu-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 12px;
    width: 115px;
    height: 42px;
    background-color: transparent;

    transition: background-color 250ms ease-in, color 250ms ease-in;
}

.mob-menu-nav-link:hover,
.mob-menu-nav-link:focus {
    background-color: #fbfbfb;
    color: #7a3145;
}

.mob-menu-shop-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 155px;
    height: 50px;
    background-color: #fbfbfb;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #7a3145;

    margin-top: auto;
    padding-bottom: 40px;
    transition: color 250ms ease-in;
}

.mob-menu-shop-btn:hover, .mob-menu-shop-btn:focus {
    color: rgba(122, 49, 69, 0.7);
}

/*======= MOBILE VERSION =======*/
/*======= TABLET VERSION =======*/

@media screen and (min-width: 768px) {
    .mob-menu-overlay {
      background-color: rgba(20, 20, 20, 0.4);
    }

    .mob-menu {
      width: 351px;
    }

    .mob-menu-close-btn {
        top: 32px;
        right: 32px;
    }

    .mob-menu-close-icon {
        width: 40px;
        height: 40px;
    }

    .mob-menu-nav {
        padding-top: 360px;
    }

    .mob-menu-nav-link {
        font-size: 16px;
        line-height: 1.25;
        width: 114px;
        height: 44px;
    }

    .mob-menu-shop-btn {
        width: 157px;
        height: 52px;
        font-size: 18px;
        line-height: 1.11;
        padding-bottom: 50px;
    }
}

/*======= TABLET VERSION =======*/